<div full-page options="fullScreenOptions" id="full-page">


    <div class="section section-select">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-3">
                    <h1>The digital platform for your city</h1>
                    <h3>Find your city and get started with ProudCity in as little as 5 mintutes.</h3>
                    <h4>Questions? <a href="https://proudcity.com/contact">Contact us</a></h4>
                </div>
            </div>
            <pc-locate class="text-center"></pc-locate>
        </div>
    </div>

    <div class="section section-current" ng-if="location && stats.website">
        <div class="vertical-padding">
            <h2 class="text-center">The status of Digital {{location.city}}
                <small>Population {{stats.population | currency:"":0}}</small>
            </h2>
            <div class="row">
                <p ng-if="!stats.website">Could not find your current website. Enter it: @todo</p>
                <div ng-if="thumbnail.url" class="col-md-6" style="padding: 40px">
                    <div class="website-thumb-wrapper">
                        <div class="website-thumb">
                            <img ng-src="{{thumbnail.url}}" alt="Thumbnail of {{stats.website}}"/>
                        </div>
                    </div>
                </div>
                <div ng-if="stats.website" class="col-md-6">
                    <div class="checklist" style="margin-bottom: 2em;">
                        <h3>{{location.city}}'s Digital Checklist</h3>
                        <div><a ng-href="{{stats.website}}" target="_blank"
                                title="Visit {{location.city}}'s current website">{{stats.website}}</a></div>
                        <div><i class="fa fa-fw"
                                ng-class="stats.https == 'Yes' ? 'text-success fa-check' : 'text-danger fa-times'"></i>Secure
                            (forced https)
                        </div>
                        <div><i class="fa fa-fw"
                                ng-class="stats.mobile == 'Yes' ? 'text-success fa-check' : 'text-danger fa-times'"></i>Mobile
                            responsive
                        </div>
                        <div ng-if="stats.cms != 'Unknown'"><i class="fa fa-fw text-success fa-check"></i>CMS:
                            {{stats.cms}}
                        </div>
                        <div ng-if="stats.cms == 'Unknown'"><i class="fa fa-fw text-warning fa-question"></i>No Content
                            Management System detected
                        </div>
                        <div><i class="fa fa-fw text-warning fa-question"></i>Social Media presence</div>
                        <div><i class="fa fa-fw text-warning fa-question"></i>Online payments</div>
                        <div><i class="fa fa-fw text-warning fa-question"></i>Report an issue</div>
                    </div>
                </div>
                <div class="text-center">
                    <p>Pass the checklist, get more features, and pay less.</p>
                    <p>
                        <button ng-click="scrollToSection(3)" class="btn btn-primary btn-lg">Get started with
                            ProudCity
                        </button>
                    </p>
                    <p><a href="https://proudcity.com/quote/?city={{location.city}}&state={{location.state}}"
                          target="_blank">Get quote</a></p>
                </div>
            </div>
        </div>
    </div><!-- .section-select-1 -->


    <div ng-if="location" class="section section-1" style="background-image: url({{image.url}})">
        <div class="container big-container">
            <div class="row bg-alpha">
                <div class="col-md-2">
                    <div class="big-number">1</div>
                    <p class="time"><label><i class="fa fa-fw fa-clock-o"></i> Time to launch</label> 5 mins</p>
                    <p class="cost"><label><i class="fa fa-fw fa-money"></i> Price</label> Free!</p>
                </div>

                <div class="col-md-10">
                    <h2>Get Started with ProudCity Local Services</h2>
                    <p><a ui-sref="siteCreateLocalEmbed(location)" class="btn btn-primary btn-lg" role="button"><img
                        src="https://my.proudcity.com/images/IconWhite.png" width="24"/> Get embed code</a></p>
                    <p>
                        Did you know that we already have a ProudCity site for {{location.city}}? Have a look:
                        <br/><strong><a
                        href="https://{{subdomain}}.proudcity.com">{{subdomain}}.proudcity.com</a></strong>
                    </p>
                    Do you think this could be useful to your citizens or website visitors? Add it to your website for
                    free.
                </div>
            </div>

            <iframe ng-src="{{embedUrl}}" style="border:none;width:100%;height:500px;"></iframe>

            <div class="text-center next-link"><a ng-click="nextSection($event)" href="">Next step<br/><i
                class="fa fa-down fa-chevron-circle-down"></i></a></div>
        </div>
    </div><!-- .section-1 -->


    <div ng-if="location" class="section section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="big-number">2</div>
                    <p class="time"><label><i class="fa fa-fw fa-clock-o"></i> Time to launch</label> 2 hrs</p>
                    <p class="cost"><label><i class="fa fa-fw fa-money"></i> Price</label> Free for 30 days<br/>{{stats.population
                        / 100 | currency}}/month after</p>
                </div>

                <div class="col-md-10">
                    <h2>Customize it</h2>
                    <p><a
                        ui-sref="siteCreateCity({distro: 'service-center', city: location.city, state: location.state})"
                        class="btn btn-primary btn-lg" role="button"><img
                        src="https://my.proudcity.com/images/IconWhite.png" width="24"/> Create Service Center</a></p>
                    <p><a href="https://example.proudcity.com" target="_blank">See example</a></p>
                    <p>Convert the Local Services app into a full blown Service Center that residents can use online, on
                        their phones, at a kiosk, or even within Facebook.</p>
                    <div ng-if="checklist_service_center" checklist-accordion
                         checklist="checklist_service_center"></div>
                </div>
            </div>
            <div class="text-center next-link"><a ng-click="nextSection($event)" href="">Peek ahead<br/><i
                class="fa fa-down fa-chevron-circle-down"></i></a></div>
        </div>
    </div><!-- .section-2 -->


    <div ng-if="location" class="section section-3" style="background-image: url({{staticmap.url}})">
        <div class="container">
            <div class="row bg-alpha">
                <div class="col-md-2">
                    <div class="big-number">3</div>
                    <p class="time"><label><i class="fa fa-fw fa-clock-o"></i> Time to launch</label> Less than 6 weeks
                    </p>
                    <p class="cost"><label><i class="fa fa-fw fa-money"></i> Price</label> Free during build-out<br/>White
                        glove onboarding available</p>
                </div>

                <div class="col-md-10">
                    <h2>Build out your full site</h2>
                    <p><a ui-sref="siteCreateCity({distro: 'proudcity', city: location.city, state: location.state})"
                          class="btn btn-primary btn-lg" role="button"><img
                        src="https://my.proudcity.com/images/IconWhite.png" width="24"/> Launch your full test site now</a>
                    </p>
                    <p><a href="https://example.proudcity.com" target="_blank">See example</a></p>
                    <p>Analyize your Service Center analytics to tune your Answers content and design a straegy to
                        improve the official {{location.city}} website. Manage your homepage blocks, add Departments,
                        Events, Jobs and more to build out your full site. You get a free test site to build out. You
                        don't have to pay until your new site goes live. With our optional <a href="@todo">White glove
                            onboarding service</a>, we work directly with your stakeholders to build your your full
                        website in 6 weeks or less.</p>
                    <div ng-if="checklist_proudcity" checklist-accordion checklist="checklist_proudcity"></div>
                </div>
            </div>
            <div class="text-center next-link"><a ng-click="nextSection($event)" href="">Let's launch!<br/><i
                class="fa fa-down fa-chevron-circle-down"></i></a></div>
        </div>
    </div><!-- .section-3 -->


    <div ng-if="location" class="section section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="big-number">4</div>
                    <p class="cost"><label><i class="fa fa-fw fa-money"></i> Price</label> {{2 * stats.population / 100
                        | currency}}/month</p>
                </div>

                <div class="col-md-10">
                    <h2>Launch {{location.city}}'s new website and continue to improve</h2>
                    <p>
                        <a class="btn btn-lg btn-primary"
                           href="https://proudcity.com/quote/?city={{location.city}}&state={{location.state}}"
                           target="_blank">Get pricing</a>
                        <!--<button ng-click="doContact()" class="btn btn-primary">Contact us to learn more</button>-->
                    </p>
                    <p>Use our Analytics Dashboard and feedback from your visitors to keep improving. You get bi-weekly
                        feature additions, bugfixes and security updates.</p>
                    <div ng-if="checklist_proudcity" checklist-accordion checklist="checklist_proudcity_maintain"></div>
                </div>
            </div>
        </div>
    </div><!-- .section-3 -->


    <div class="section section-contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    @todo: embed zopim
                </div>

                <div class="col-md-6">
                    [testimonial from SR]
                </div>

            </div>
        </div>
    </div><!-- .section-4 -->


</div> <!-- .full-page -->


<div id="myModal" class="modal fade" role="dialog" style="display:block" ng-if="showModal">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<style>
    .navbar {
        z-index: 100;
    }

    .section .container:not(.big-container) {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

    .section .vertical-padding {
        padding-top: 40px;
    }

    label {
        font-weight: bold;
        display: block;
    }

    .big-number {
        font-size: 5em;
        line-height: 1em;
        font-weight: bold;
    }

    .section {
        background-size: cover;
    }

    .section-select {
        color: white !important;
        background-image: url(https://proudcity.com/wp-content/uploads/2016/09/homebg2.jpg);
    }

    .section-select, .section-select h1, .section-select h3, .section-select h4, .section-select a {
        color: white !important;

    }

    .section-select a {
        text-decoration: underline;
    }

    .or-bar span {
        background-color: #323A45;
        color: white;
        border: 1px solid #434343;
        border-radius: 5px;
    }

    .section-current .website-thumb-wrapper {
        background: url(/images/computer-screen.png);
        padding: 20px;
        background: url(/images/computer-screen.png);
        padding: 20px 20px 161px;
        max-width: 550px;
        margin: 0 auto;
        background-size: cover;
    }

    .section-current .website-thumb {
        height: 305px;
        width: 100%;
        background: #000 url('https://my.proudcity.com/images/IconWhite.png') center no-repeat;
        text-align: center;
        line-height: 150px;
        font-size: 50px;
        color: white !important;
        text-decoration: none !important;
        display: block;
        overflow: hidden;
    }

    .section-current .website-thumb img {
        background-color: #fff;
    }

    .section-current .checklist {
        padding: 80px 40px 37px;
        width: 471px;
        margin: 30px auto 0;
        /*transform: rotate3d(1, 1, -1, 65deg);*/
        font-size: 1.4em;
        background: url(/images/clipboard.png);
        background-size: cover;
    }

    .section-current .checklist h3 {
        font-size: 1.6em;
    }

    .section-1 {
        background-color: #eee;
        background-size: cover;
    }

    .section-contact {
        background: #0071BC;
        color: #fff !important;
    }

    .bg-alpha {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 0;
        margin: 12px 0;
    }

</style>