<div class="container">

    <div class=" pull-right text-muted" style="margin-top:24px">
        <small><a ng-href="{{site.url}}" target="_blank">{{site.url}}<i
            class="fa fa-fw fa-external-link text-muted fa-xs"></i></a></small>
    </div>
    <h1>{{site.name}} </h1>
    <ul class="nav nav-pills">
        <li ui-sref-active="active"><a ui-sref="site.dashboard({'siteId': site._id})"><i
            class="fa fa-fw fa-dashboard"></i>Dashboard</a></li>
        <li ui-sref-active="active"><a ui-sref="site.analytics({'siteId': site._id})"><i
            class="fa fa-fw fa-line-chart"></i>Analytics</a></li>
        <!--<li ui-sref-active="active"><a ui-sref="site.intranet.social({'siteId': site._id})"><i class="fa fa-fw fa-address-card-o"></i>Intranet</a></li>-->
        <li ui-sref-active="active"><a ui-sref="site.plugins({'siteId': site._id})"><i class="fa fa-fw fa-rocket"></i>Integrations</a>
        </li>
        <li ui-sref-active="active"><a ui-sref="site.users({'siteId': site._id})"><i class="fa fa-fw fa-users"></i>Users</a>
        </li>
        <li><a ng-href="{{site.url}}/wp-admin/edit.php?post_type=question" target="_blank">Content<i
            class="fa fa-fw fa-external-link text-muted fa-xs"></i></a></li>

        <li class="dropdown pull-right">
            <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" id="proud-city-user"
               ui-sref="site.setting({'siteId': site._id})"><i class="fa fa-fw fa-cog"></i>Settings <span
                class="caret"></span></a>
            <ul class="menu dropdown-menu nav">
                <li class="leaf first">
                    <a ui-sref="site.settingsAnalytics({siteId: site._id})"><i class="fa fa-fw fa-line-chart"></i>
                        Analytics</a>
                </li>
                <li class="leaf first">
                    <a ng-href="{{site.url}}/wp-admin/admin.php?page=service-center-settings"><i
                        class="fa fa-fw fa-desktop"></i> Service Center<i
                        class="fa fa-fw fa-external-link text-muted fa-xs"></i></a>
                </li>
                <li class="leaf">
                    <a ui-sref="site.paymentsSettings({'siteId': site._id})"><i class="fa fa-fw fa-credit-card"></i>
                        Payments</a>
                </li>
                <li class="leaf">
                    <a ui-sref="site.socialSettings({'siteId': site._id})"><i class="fa fa-fw fa-comments-o"></i> Social
                        Media accounts</a>
                </li>
            </ul>
        </li>

    </ul>

    <hr/>
    <div ui-view></div>

</div>

<style>
    .fa-xs {
        font-size: 10px;
        padding-left: 5px;
    }
</style>